<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      					   http://www.springframework.org/schema/beans/spring-beans.xsd
      					   http://www.springframework.org/schema/context
      					   http://www.springframework.org/schema/context/spring-context.xsd
     	 				   http://www.springframework.org/schema/mvc
      					   http://www.springframework.org/schema/mvc/spring-mvc.xsd
      					   http://www.springframework.org/schema/task
						   http://www.springframework.org/schema/task/spring-task.xsd ">


    <!--quartz方式忽略，参考 http://gong1208.iteye.com/blog/1773177 -->

    <!--spring task方法1_注解方式-->
    <context:annotation-config/>
    <context:component-scan base-package="test"/>

    <task:executor id="executor" pool-size="5"/>
    <task:scheduler id="scheduler" pool-size="5"/>
    <task:annotation-driven scheduler="scheduler" executor="executor"/>


    <!---spring task方法二_配置方式-->
    <!--<context:component-scan base-package="test"/>-->

    <!--<task:scheduled-tasks>-->
        <!--<task:scheduled ref="testJob" method="testLog" cron="0/2 * * * * ?"/>-->
    <!--</task:scheduled-tasks>-->

</beans>